@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Estilizaçoes gerais  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Josefin Sans";
    font-size: 16px; 
    line-height: 18px;

    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    background-color:black;
}
section{
    background-color:black;
}
h1 {
   font-size: 87px; 
   font-weight: 700;
   line-height: 90px;
   
}
h3,h2{   
    font-weight: 700; 
    line-height: 70px;
    color: white;

}
h2{
    font-size: 60px;
   line-height: 70px;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 50px;
}
p{
   font-size: 18px;
   line-height: 30px;
   margin:0;
}
#Apresentação, #Tecnologias,#Projetos,#Sobre-mim, #contato{
    background-color: black !important;
 }

 hr{
    width: 900px;
    height: 3px;
    background-color: rgb(117, 82, 193);
    border: none;
    margin: auto;
}

/* navbar  */
header > nav.navbar ,a.navbar-brand{
    font-size: 22px; 
    font-weight: 600; 
 }
 header>nav.navbar>div.container-fluid>div.collapse>ul.navbar-nav>li.nav-item>a.nav-link:hover{
    border-bottom:4px solid rgb(72, 13, 201);
 }
 h2{
    color: rgb(72, 13, 201) !important;

 }

 /* Inicio  */

 .name-apresentacao {
    color: rgb(72, 13, 201);
 }

 
 div.div-apresentacao{
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 11rem;
 }

 /* Sobre mim  */

 div.containerSobreMim{
    padding:180px;
    height: 48.8rem;
 }
 
 .h3-sobreMim1{
    font-size:50px;
   line-height: 50px;
 }
 
 h3.h3-sobreMim2{
    margin-bottom: 2rem;
    margin-top: 6px;
 }
 
 div.containerSobreMim{
    padding:180px;
    height: 48.8rem;
    color: whitesmoke;
 }
